<h2>Hi, Muri!</h2>
<p>Am Montag beim Training ist mir eingefallen das Dein Trainingsplan Creator ja eigentlich nicht auf dem Tablett laufen muß. Das Programm kann ja eigentlich auch eine Webseite sein, wie diese hier. Also habe ich mich mal hingesetzt und diese kleine Webseite gebaut. Schön ist was anderes, ich weiß, aber es soll Dir ja nur eine Ahnung davon geben wie ich mir das vorstelle, bzw was ich so zu stande bringe. Vielleicht gefällt es Dir ja...
</p>
