[% META title = "Alle Kunden" %]
<table>
    <tr>
        <th>Vorname</th><th>Nachname</th><th>Alter</th>
    </tr>
    [% IF customers.count > 0 %]
        [% WHILE (customer = customers.next) %]
            <tr>
                <td>[% customer.firstname %]</td>
                <td>[% customer.lastname %]</td>
                <td>[% customer.age %]</td>
            </tr>
        [% END %]
    [% ELSE %]
        <p>Keine Kunden gefunden</p>
    [% END %]
</table>
